/*


*/
/*table, th, td {
  border: 1px solid white;
  border-radius: 5px;
  border-style: ridge;
  margin-top: 100px;*//*


}

#title {

    color: black;
    background-image: linear-gradient(#fff, #800080);

}


#tit {

    color: black;
    background-color: #DDA0DD;
    font-size: 12px;

}

.bg-99 {

    margin-right: 0px;
    margin-left: 0px;
}


.bg-100 {

    margin-left: 0px;
    margin-top: 50px;
}
*/

