.bg-1 {

    padding-top: 20px;
    background-image: 	linear-gradient(#fff, #800080); /* Green */
    color: #ffffff;
    height: 300px;

}


.bg-2 {

    background-color: #800080; /* Dark Blue */
    color: #fff;
    padding-top: 25px;
    padding-bottom: 200px;

}


.bg-3 {

    background-color: #fff; /* White */
    color: #555;
    padding-top: 30px;
    padding-bottom: 30px;



}
/*
.bg-4 {

    background-color: #fff; *//* White *//*
    color: #555;
    padding-bottom: 80px;
    position:relative;
    display: inline-block;
    float:right;*/

}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #800080 !important;
}


.bg-3 h3 {

    color: #800080;
    font-size: 45px;
}

.bg-3 hr {

        color: #800080;

}

#violet {

    color: #FF00FF;
}

#tete {

  font-family: 'Crete Round', serif;
  font-size: 25px;
  color: #444;
}


#tete h2 {

    text-align: left;



}

#tete h3 {

     font-size: 25px;
     margin-top: -10px;
     color: #FF00FF;

}

#tete img {


        margin-top: 45px;

}

#pl {

      font-style: italic;

}

#title {

    color: black;
    background-image: linear-gradient(#fff, #800080);

}


#tit {

    color: black;
    background-color: #DDA0DD;
    font-size: 15px;

}



.table-hover tbody tr:hover td {
    background: #BA55D3;
}

#logoss {

       padding-right: 15px;
}