<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foot Data</title>
    <link href="{% static 'test1/css/style1.css' %}" rel="stylesheet">
    <style>
    table, th, td {
 border: 1px solid black;
}
</style>
</head>

<div class="container-fluid">
    <div class="row">
        <div>

    <table class="donne" style="width:100%">

<tr class="don">
    <th>Name</th>
    <th>Number</th>
    <th>Website</th>
    <th>Club Colors</th>

</tr>

{% for item1, item2, item3, item4 in toto.elem %}
<tr>
    <td>{{ item1 }}</td>
    <td>{{ item2 }}</td>
    <td>{{ item3 }}</td>
    <td>{{ item4 }}</td>


</tr>
{% endfor %}

</table>
            </div>

        <div>
<table class="donne" style="width:100%">

<tr class="don">
    <th>Position</th>
    <th>Teams</th>
    <th>Points</th>

</tr>

{% for item1, item2, item3 in tata.position %}
<tr>
    <td>{{ item1 }}</td>
    <td>{{ item3 }}</td>
    <td>{{ item2 }}</td>


</tr>
{% endfor %}

</table>
            </div>

    </div>

</div>

<h2>{{ picture.name }}</h2>


<img src="{% static picture.filename %}"/>


</body>
</html>