<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head class="bg-1">
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">

     <!--CSS-->
    <link href="{% static 'test1/css/style.css' %}" rel="stylesheet">

    <!--Font style-->
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">

        <!--Bootstrap-->

        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">#PL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search Players</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teams
        </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Top Clubs</a>
              <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Arsenal</a>
            <a class="dropdown-item" href="#">Manchester United</a>
            <a class="dropdown-item" href="#">Manchester City</a>
            <a class="dropdown-item" href="#">Liverpool</a>
            <a class="dropdown-item" href="#">Tottenham Hotspur</a>
            <a class="dropdown-item" href="#">Chelsea</a>
        </div>
      </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Match Analytics</a>
          <a class="dropdown-item" href="#">Match Predictions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Player Statistics</a>
          <a class="dropdown-item" href="#">Team Statistics</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="tete" class="container-fluid bg-1 text-center">
    <h2><span id="pl">#PL</span>&nbsp; Football<span id="violet"> Analytics</span> </h2>
<h3></h3>

<img src="{% static 'test1/images/PremLogo.svg' %}" class="img-responsive"  alt="Manutd logo">

</div>



<div class="container-fluid text-center">

    <h3>Premier League</h3>
    <hr width="%"> <h4>Teams 2018-2019</h4> <hr width="%">
    <div class="row">

<div class="col-sm-5">
<table>

{% for item1 in teamlogo.logo1 %}


<tr>

    <img id="logoss" src="{{ item1 }}" height="130" width="130" />

</tr>

{% endfor %}

</table>
</div>

<div class="col-sm-7">

<table class="table table-bordered table-hover">

<tr id="title">
    <th>#</th>
    <th>Team</th>
    <th>P</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <!--<th>F</th>
    <th>A</th>-->
    <th>GD</th>
    <th>Pts</th>


</tr>

{% for item1, item2, item3, item4, item5, item6, item7, item8, item9, item10 in tata.position %}
<tr id="tit">

    <td>{{ item1 }}</td>
    <td>{{ item2 }}</td>
    <td>{{ item3 }}</td>
    <td>{{ item4 }}</td>
    <td>{{ item5 }}</td>
    <td>{{ item6 }}</td>
    <!--<td>{{ item7 }}</td>
    <td>{{ item8 }}</td>-->
    <td>{{ item9 }}</td>
    <td>{{ item10 }}</td>



</tr>
{% endfor %}

</table>

        </div>

    </div>

</div>



<div class="container-fluid bg-2 text-center">

  <h3>Analytics + Predictions</h3>
  <p>English Premier League Analytics. Players and teams statistics as well as games predictions using AI algorithms.</p>


</div>


<div class="container-fluid bg-3 text-center">
  <h3>Contact Me</h3>
    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Making on-demand services</a>

</div>

</body>

</html>